@page
@model petsSharp.Pages.dashboardModel
@{
    ViewData["Title"] = "Home page";
}
<div id="menu">
    <div class="selecionado">
        <a class="textoDashboard" asp-page="/dashboard" asp-area="" style="color: #004BE3;">Dashboard</a>
        <img class="dashboard" src="~/img/tela-principal/dashboard.png"></img>
    </div>
    <a class="textoEstoque" asp-page="/estoque" asp-area="" style="color:white">Estoque</a>
    <img class="estoque" src="~/img/tela-principal/estoque.png"></img>
    <a class="textoVendas" asp-page="/Error" asp-area="" style="color: white;">Vendas</a>
    <img class="vendas" src="~/img/tela-principal/sales.png"></img>
    <a class="textoAnimais" asp-page="/Error" asp-area="" style="color: white;">Animais</a>
    <img class="animais" src="~/img/tela-principal/animais.png"></img>
    <a class="textoBanhoetosa" asp-page="/Error" asp-area="" style="color: white;">Banho e tosa</a>
    <img class="tesoura" src="~/img/tela-principal/tesoura.png"></img>
</div>
<div>
    <div class="quadrado1">
        <p class="textoEstoque" style="color:white">Estoque</p>
        <img class="imagemQuadrado1" src="~/img/tela-principal/sales22.png"></img>
        <p class="textoValorVendas" style="color: white;">@Model.totalVenda</p>
        <p class="textoTotaldeVendas" style="color:white">Total de vendas</p>
    </div>
    <div class="quadrado2">
        <img class="imagemQuadrado2" src="~/img/tela-principal/sales2.png"></img>
        <p class="textoValorProdutos" style="color: white;">@Model.totalProdutosCadastrados</p>
        <p class="textoProdutosCadastrados" style="color:white">Produtos cadastrados</p>
    </div>
    <div class="quadrado3">
        <p class="textoValorFornecedores"style="color: white;">@Model.totalFornecedores</p>
        <p class="textoTotaldeFornecedores"style="color:white">Total de fornecedores</p>
    </div>
    <div class="quadrado4">
        <p class="textoBanhoeTosa" style="color: white;">Banho e tosa</p>
        <img class="imagemQuadrado4" src="~/img/tela-principal/atendidos.png"></img>
        <p class="textoValorServicos""" style="color: white;">@Model.totalServicos</p>
        <p class="textoServicos" style="color:white">Serviços</p>
    </div>
    <div class="quadrado5">
        <img class="imagemQuadrado5" src="~/img/tela-principal/pendente.png"></img>
        <p class="textoValorPendentes" style="color: white;">@Model.totalServicosPendentes</p>
        <p class="textoServicosPendentes" style="color:white">Serviços pendentes</p>
    </div>
    <div class="quadrado6">
        <p class="textoValorTotal" style="color: white;">R$ @Model.valorTotal</p>
        <p class="textoValorTotalProdutos" style="color:white">Valor total dos produtos</p>
    </div>
    <div class="quadrado7">
        <img class="grafico" src="~/img/tela-principal/grafico.png"></img>
    </div>
    <div class="quadrado8">
        <p class="textoAlgo" style="color:white;">Algo</p>
    </div>
</div>
